@model Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<h1>Agregar nuevo usuario</h1>
@if (ViewBag.Error!=null)
{
   <div class="alert alert-danger" role="alert">
       @ViewBag.Error
   </div>
}

<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label>Apellido</label>
        <input asp-for="Apellido" class="form-control">
    </div>
    <div class="form-group">
        <label>Correo</label>
        <input asp-for="Correo" class="form-control">
    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input asp-for="Contrasena" class="form-control">
    </div>
    <div class="form-group">
        <label>Rol</label>
        <input asp-for="RolId" asp-items="@ViewBag.Roles" class="form-control">
    </div>
    <div class="form-group">
        <label>Nombre de Usuario</label>
        <input asp-for="NombreUsuario" class="form-control">
    </div>
    <div class="form-group">
        <label>Estado</label>
        <input asp-for="Estado" class="form-check-input">
    </div>
    <div class="form-group">
        <label>Token</label>
        <input asp-for="Token" class="form-control">
    </div>
    <div class="form-group">
        <label>Fecha de expiracion</label>
        <input asp-for="FechaExpiracion" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>