<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InnoMasketss</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InnoMasketss.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/4b5aae3091.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/Estilos.css" />
    <link rel="stylesheet" href="~/wwwroot/img/TODOS SOMOS NICARAGUA.png" />


</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/Partials/_Header.cshtml")
    <div class="container py-5 d-flex flex-column min-vh-100">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-light py-4 sticky-bottom mt-auto">
        <div class="Container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <h5 class="mb-3">Redes Sociales</h5>
                    <ul class="List-unstyled mb-0">
                        <li><a href="#" class="text-light"><i class="fab fa-facebook me-2"></i> Facebook</a></li>
                        <li><a href="#" class="text-light"><i class="fab fa-twitter me-2"></i> Twittter</a></li>
                        <li><a href="#" class="text-light"><i class="fab fa-instagram me-2"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="mb-3">Recursos</h5>
                    <ul class="List-unstyled mb-0">
                        <li><a href="#" class="text-light">Politica de Privacidad</a></li>
                        <li><a href="#" class="text-light">Terminos y condiciones</a></li>
                        <li><a href="#" class="text-light">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="mb-3">Newletter</h5>
                    <form class="form-inLine">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Introduce tu email">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-paper-plane"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="my-4">
            <p class="text-center small mb-0">&copy; 2023 - InnoMarkets. Todos los derechos reservados</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
